.sign-up-logo{
    z-index: 2;
  }

.container {
    padding-left: 0px;
}

h5{
margin-bottom: 5px;
text-decoration: underline;
color: #AAAAAA;
}

.navbar-translate{
  max-height: 85px;
}

.h6p{
  color:purple;
  font-weight: bold;
  }

  .card {
    border-radius: .5rem;
  }

.card-signup{
    border-radius: 50px;
    background: teal;
    opacity: 0.8;
    font-weight: bolder;
  }

  .clear{
    background-color: rgba(39, 39, 39, 0.384);
    border-radius: 50px;
    }
  
  .now-ui-icons{
    color: white;
    /* background-color: inherit; */
  }
  
  .form-group.no-border .form-control, .form-group.no-border .form-control + .input-group-text, .input-group.no-border .form-control, .input-group.no-border .form-control + .input-group-text {
    background-color: rgba(43, 42, 42, 0.89);
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
  }
  
  .form-group.no-border .input-group-prepend .input-group-text, .input-group.no-border .input-group-prepend .input-group-text {
    background-color: rgba(43, 42, 42, 0.89);
  }
  
  .form-group .form-control, .input-group .form-control {
    padding: 0px 18px 10px 18px;
}

  .form-group{
    color: #AAAAAA;
    margin-bottom: 0px;
  }

  .btn-neutral.btn-info {
    color: teal;
    font-weight: bolder;
  }
  
  .btn-lg[class*="btn-outline-"] {
    padding: 14px 47px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bolder;
    border: none;
  }

  .n-logo {
    display: block;
    max-width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logocenter{
    width: 100%;
  }

  .brand{
    padding-top: 230px;
  }

  .sidebar-collapse [class*="navbar-expand-"] .navbar-collapse {
      width: 300px;
  }

  .padright{
    padding-right: 10px;
  }

  .profile-page .title {
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
    color: teal;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.makeStyles-labelRoot-111{
  color:red;
}

.btnSettings{
  background-color: purple;
}

.settingsnav{
  background-color: purple;
}

.category{
padding-top: 20px;
}

.center{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.MuiInputLabel-formControl {
  width: 70px;
}

.navbar-toggler{
  background-color: transparent;
}

.face{
color: white;
}

.underline{
  text-decoration: underline;
}

/* .photo-container{
  border: 2px solid gray;

} */

.profile-page .photo-container {
  width: 200px;
  height: 200px;
  border: 3px solid gray;
}